@model DoAnCN.Models.Custumer

@{
    ViewBag.Title = "DeleteCustumer";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>DeleteCustumer</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Custumer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCustumer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCustumer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullNameCustumer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullNameCustumer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTour)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListCustumerAd")
        </div>
    }
</div>
