@model IEnumerable<DoAnCN.Models.Tour>
@{
    ViewBag.Title = "Tour123";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-1">

</div>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <input id="Search" class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    <div id="container-123" class="Search123">

        <div class="product-details">

            <h1>@item.TitleTour</h1>

            <p class="information">" @item.DescTour."</p>

            <div class="control">

                <button class="btn-1">
                    <span class="price">$</span>
                    <span class="buy">@Html.ActionLink("Xem", "TourInfo", new { id = item.IdTour })</span>
                    
                </button>
            </div>

        </div>



        <div class="product-image">
            <img src="@item.ImageTour" alt="tour">

            <div class="info">
                <h2>Tóm tắt chuyến đi</h2>
                <ul>
                    <li><strong>Nơi khởi hành: </strong>@item.StartingGate</li>
                    <li><strong>Thời gian: </strong>@item.TimeTour ngày</li>
                    <li><strong>Ngày bắt đầu: </strong>@item.StartTour</li>
                    <li><strong>Phương tiện: </strong>@item.Vehicle</li>
                    <li><strong>Dịch vụ ăn uống: </strong>@item.Food</li>
                    <li><strong>Khách sạn: </strong>@item.Hotel</li>
                </ul>
            </div>
        </div>

    </div>


}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".Search123").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>